pcb/driver_board/*-backups
pcb/driver_board/#auto_saved_files#
pcb/driver_board/_autosave-driver_board
pcb/driver_board/~driver_board.kicad_sch.lck
pcb/driver_board/driver_board.kicad_prl
pcb/driver_board/*-bak
pcb/driver_board/*-cache
pcb/driver_board/_autosave*